* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.boardContainer{
  display: flex;
  flex-wrap: wrap;
  margin-left: 10%;
  margin-top: 2%;
  width: 600px;
  height: 300px;
}
.upBoard{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 40px;
  height: 150px;
  margin-left: 10px;
  background-color: red;
  align-items: flex-start;
  justify-content: center;
}
.downBoard{
  display: flex;
  background-color: green;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 10px;
  height: 150px;
  width: 40px;
  align-items: flex-end;
  justify-content: center;
}

.container{
}
.containerReverse{
  display: flex;
  border: 1px solid #fff;
  width: 3%;
  height: 200px;
  flex-direction: column-reverse;
  align-items: center;
}

.peiceStyle{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: skyblue;
}
